body,
html {
  background-color: #faebd7;
  /* max-width: 100%; */
}

.container {
  background-color: #f7dfc1;
  max-width: 100%;
  width: 500px;
  height: 350px;
  /* width: 350px;
  height: 350px; */
  margin: auto;
  border-radius: 20px;
}

#img {
  display: block;
  margin: auto;
  padding: 1rem;
  border-radius: 100px;
}

h1 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
}

audio {
  display: block;
  margin: auto;
}

p {
  text-align: center;
  font-weight: 600;
}

.content {
  display: block;
  text-align: center;
  padding: 1rem;
}

.imgg {
  padding: 1rem;
  cursor: pointer;
}

#switch2 {
  display: none;
}

progress {
  height: 6px;
  width: 0%;
  background-color: #333;
}

.barra {
  margin: auto;
  width: 300px;
  height: 6px;
  border: 1px solid rgb(58, 56, 56);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ponto {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eee;
  margin-left: -10px;
}

.tempo {
  margin: auto;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
